<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ filename }}{% endblock %}</title>
    <style>
        body {
            width: 800px;
        }
        * {
            -webkit-box-sizing: border-box;
        }
        .center-block{
            margin-left:auto;
            margin-right:auto;
            display:block;
            text-align: center;
        }
        .signature{
            border-top: 2px dotted #8c8b8b;
        }
        .some-space{
            padding-bottom: 30px;
        }
        hr {
            border:none;
            border-top:1px dotted #f00;
            color:#fff;
            background-color:#fff;
            height:1px;
            width:50%;
        }
        .row {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            padding-top: 20px;
        }
        .row > div {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            margin-right: 10%;
            /*background-color: yellow;*/
            /*border: 1px dashed black;*/
        }
        .row > div:last-child {
            margin-right: 0;
        }
        .row > div > p {
            margin: 0 auto;
            font-style: italic;
            font-weight: bold;
        }
        .row > div > .some-space > p {
            margin: 0 auto;
            font-style: italic;
            font-weight: bold;
        }


    </style>
</head>
<body>
{% if app.user %}
    <div class="row">
        <div></div>
        <div></div>
        <div></div>
        <div>Szczecin, dnia <p>{{ absenceDoc.getActualDate()|date("m.d.Y") }}</p></div>
    </div>
    <div class="row">
        <div class="center-block">
            PODANIE O UROP
        </div>
    </div>
    <div class="row">
        <div>Nazwisko i imię</div>
        <div><p>{{ app.user.surname }} {{ app.user.name }}</p></div>
        <div></div>
        <div></div>
    </div>
    <div class="row">
        <div>Dział</div>
        <div><p>{{ app.user.department.name }}</p></div>
        <div>funkcja</div>
        <div><p>{{ app.user.position.name }}</p></div>
    </div>
    <div class="row">
        <div>Proszę o udzielenie urlopu od dnia</div>
        <div><p>{{ absenceDoc.getDateFrom()|date("m/d/Y") }}</p></div>
        <div>do dnia</div>
        <div><p>{{ absenceDoc.getDateTo()|date("m/d/Y") }}</p></div>
    </div>
    <div class="row">
        <div>Rodzaj urlopu</div>
        <div>
            <div class="some-space"><p>{{ absenceDoc.absence.name }}</p></div>
        </div>
        <div></div>
        <div></div>
    </div>
    <div class="row">
        <div></div>
        <div></div>
        <div>
            <div class="signature">Podpis pracownika</div>
        </div>
    </div>
    <div class="row">
        <div class="center-block"><div class="some-space">Wyrażam zgodę na udzielenie urlopu w wyżej wymienionym terminie.</div></div>
    </div>
    <div class="row">
        <div class="col-md-4"><div class="signature">Data i podpis</div></div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
{% endif %}
</body>
</html>

